<div class="container">

  <h1>Add note</h1>

  <form action="/add" method="POST">
    <p>Title</p>
    <div><input type="text" name="title"></div>
    <p>Data</p>
    <div><textarea name="body" rows="20" cols="80"></textarea></div>
    <div class="btn"><input type="submit" value="Add"></div>
  </form>
</div>
<style>
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-size: 42px;
  }
  p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
  }
  input, textarea{
    border: 1px solid gainsboro;
    border-radius: 10px;
    padding: 2%;
  }
  input{
    height: 50px;
  }
  .btn{
    margin-top: 10px;
  }
</style>